.mycontainer{
    background: #fff;
    width: 730px;
    margin: 0 auto;
    overflow: hidden;
}

body {
    background-color:#f3f3f3;
}

.question-group{
    color: aqua;
}

.question-title{
     ,
}

.question-content{

}

.question-info{

}

.question-author{

}

.question-time{

}
