{% extends "base.html" %}
{% block title %}知了课堂-发布问答{% endblock %}
{% block content %}
<div class="container">

 <div class="row">
{#col-md-4表示合并4列，col-md-offset-4表示偏移4列 sm意思相同#}
 <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">

 <div class="page-header">
 <h1>发布问答</h1>
 </div>
{# {% for message in get_flashed_messages() %}#}
{# <div class="alert alert-warning">#}
{# <button type="button" class="close" data-dismiss="alter">×</button>#}
{# {{message}}#}
{# </div>#}
{# {% endfor %}#}

     <form method="post">
         <div class="form-group">
             <label for="title">标题</label>
             <input type="text" class="form-control" name="title" placeholder="请输入标题">
         </div>
         <div class="form-group">
             <label for="content">内容</label>
             <textarea class="form-control" name="content" rows="10" placeholder="请输入问题"></textarea>
         </div>
         <button type="submit" class="btn btn-primary btn-block">提交</button>
     </form>
 </div>
 </div>
</div>
{% endblock %}
